In [5]:
import pandas as pd

In [6]:
main_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/"
date = "12-27-2020"

In [11]:
data = pd.read_csv(main_url+date+'.csv')
data

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-12-28 05:22:06,33.939110,67.709953,51039,2160,41096,7783.0,Afghanistan,131.110134,4.232058
1,NaN,NaN,NaN,Albania,2020-12-28 05:22:06,41.153300,20.168300,56254,1153,31565,23536.0,Albania,1954.757106,2.049632
2,NaN,NaN,NaN,Algeria,2020-12-28 05:22:06,28.033900,1.659600,98249,2728,65862,29659.0,Algeria,224.051683,2.776619
3,NaN,NaN,NaN,Andorra,2020-12-28 05:22:06,42.506300,1.521800,7821,83,7288,450.0,Andorra,10122.306348,1.061245
4,NaN,NaN,NaN,Angola,2020-12-28 05:22:06,-11.202700,17.873900,17240,399,10354,6487.0,Angola,52.454997,2.314385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3971,NaN,NaN,NaN,Vietnam,2020-12-28 05:22:06,14.058324,108.277199,1441,35,1303,103.0,Vietnam,1.480400,2.428869
3972,NaN,NaN,NaN,West Bank and Gaza,2020-12-28 05:22:06,31.952200,35.233200,133093,1309,109377,22407.0,West Bank and Gaza,2608.942302,0.983523
3973,NaN,NaN,NaN,Yemen,2020-12-28 05:22:06,15.552727,48.516388,2094,607,1384,103.0,Yemen,7.020728,28.987584
3974,NaN,NaN,NaN,Zambia,2020-12-28 05:22:06,-13.133897,27.849332,19834,383,18210,1241.0,Zambia,107.887552,1.931028
3975,NaN,NaN,NaN,Zimbabwe,2020-12-28 05:22:06,-19.015438,29.154857,13077,349,10593,2135.0,Zimbabwe,87.984016,2.668808

In [19]:
is_denmark =  data['Country_Region']=='Denmark'
print (is_denmark.head())

0    False
1    False
2    False
3    False
4    False
Name: Country_Region, dtype: bool